<!DOCTYPE html>
<html>
<style>
h1 {
  color: #3B5998;
  font-family: arial;
}
h2 {
  color: #0D0D0D;
  font-family: arial;
}
p {
  color: #0D0D0D;
  font-family:  arial;
}
div {
    font-family: arial;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
button {
    border-radius: 5px;
    border: 1px solid black;
}
</style>

<body>

  <center><h1>Chitter Feed</h1></center>
  <div>
    <% @feed.each do |feed| %>
 <center><h2> <label for="fname">@</label><%= feed.username %> </h2></center>
<center><p> <%= feed.peeps %></p></center>
<% end %>
<center><form method="get" action="/">
 <input type="submit" value="New Peep"/></center>
 </form>
</div>


</body>
</html>
