<h1> Chitter! </h1>
<form action="/feed" method="post">
  Username:<br>
  <input type="text" name="username" id="username">
  <br>
  Enter message:<br>
  <input type="text" name="message" >
  <br><br>
  <input type="submit" value="Submit" id="display">
</form>
