<style>
  h1 {
      color: #3B5998;
      font-family: arial;
  }
  </style>


<form action="/sign_up" method="post">
<center>
  <h1> Sign up here! </h1>
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="password" placeholder="password" />
  <input type="submit" value="Submit" /> </center>
  </form>
